mixin regular-btn(options)
    //- Параметры: text (текст кнопки), link (ссылка на ресурс), color(цвет текста, бортиков, иконки), 
    //- icon (название иконки на fontAwesome)
    - baseClassName = 'regular-btn';
    - classList = `${baseClassName} ${baseClassName}--color-${options.color}`
    a(class=classList href=options.link)
        span.regular-btn__text= options.text
        i(class=`${baseClassName}__icon ${options.icon}`)
    
